// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  height: 100%;
  background-color: #f8fafc;
}

@for $i from 1 through 120 {
  .width-#{$i} {width: 10px * $i !important}
  .height-#{$i} {height: 10px * $i !important}
  .min-width-#{$i} {min-width: 10px * $i !important}
  .min-height-#{$i} {min-height: 10px * $i !important}
  .max-width-#{$i} {max-width: 10px * $i !important}
  .max-height-#{$i} {max-height: 10px * $i !important}
}


.simple {
  a:link, a:visited, a:hover, a:active {
    color: black;
  }
  a {
    text-decoration: none;
  }
}

// //width
// .width-6 {
//   width: 6rem;
// }

// .width-12 {
//   width: 12rem;
// }

// .w-45 {
//   width: 45%;
// }

// //height
// .height-7 {
//   height: 4rem;
// }

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.white {
  color: white;
}

//確認用モーダル
.alertModal {
  width: 50rem;
  height: auto;
  text-align: center;
  top: 1rem;
}

//フッター
.detail-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #00508E;
  padding: 0.75rem 1.25rem;
  color: #FFFFFF;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
